.guestBookEntryPage {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(212,175,55,1);
    background:  linear-gradient(145deg, rgba(120,120,120,1) 35%, rgba(43,43,43,1) 100%);
  }
  
  .title {
    margin-left: 10px; 
    color: #d4af37;
    font: 300 1.55rem/1.4 "Josefin Sans";
    text-transform: uppercase;
    text-decoration: none;
    flex: 1; 
    padding-bottom: 2rem;
  }
  
  .guestBookForm {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .formFields {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60px;
    
  }
  
  .formField {
    padding: 10px;
    border-radius: 5px;
    width: 50ch; 
  }
  
  .imageDrop {
    width: 250px; 
    padding: 10px;
    border-radius: 5px;
  }
  

  .shortFormField {
    padding: 10px;
    border-radius: 5px;
    width: 30ch; 
  }
  
 
  .submitButton {
   margin-left: 10px;
   border-radius: 5px;
   background-color: #3e8e41; 
   width: min-content;
   color: white !important;
   
  }
  
  .submitButton:hover {
    background-color: #06af41 !important; 
    color: white;
    width: min-content;
    border-radius: 5px;

  }

  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #3e8e41 !important;
  }

  .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #06af41 !important;
  }

  @media (max-width: 480px) {
    .guestBookForm {
        padding: 0%;
      flex-direction: column;
    }
  
    .formFields {
      width: 100%;
    }
  
    .imageDrop {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .submitButton {
      margin-left: 0;
      
      position: relative;
      bottom: 0;
      margin-top: 20px;
    }
  }
  